@using BioWiseV2.ViewModels
@model WeeklyReportAndGoalViewModel

@{
    ViewData["Title"] = "Index";
}
<style>

section {
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	
	& + section {
		margin-top: 2.5em;
	}
}

h1 {
	font-weight: 700;
	line-height: 1.125;
	font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

h2 {
	margin-top: .25em;
	color: #999;
	font-size: clamp(1.125rem, 2.5vw, 1.25rem);
	& + * {
		margin-top: 1.5em;
	}
}



summary {
	background-color: #fff;
	position: relative;
	cursor: pointer;
	padding: 0.5em .5em;
	list-style: none; // Remove arrow
	&::-webkit-details-marker {
		display: none; // Remove arrow
	}
	
	&:hover {
		background-color: #f2f5f9;
	}

	
	div {
		display: flex;
		align-items: center;
	}
	
	h3 {
		display: flex;
		flex-direction: column;
	}
	
	small {
		color: #999;
		font-size: .875em;
	}
	
	strong {
		font-weight: 700;
	}
	
	span:first-child {
		width: 4rem;
		height: 4rem;
		border-radius: 10px;
		background-color: #f3e1e1; 
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		margin-right: 1.25em;
		svg {
			width: 2.25rem;
			height: 2.25rem;
		}
	}
	
	span:last-child {
		font-weight: 700;
		margin-left: auto;
	}
	
	&:focus {
		outline: none;
	}
	
	.plus {
		color: #289672;
	}
}

details {
	border-bottom: 1px solid #b5bfd9;
	&[open] {
		box-shadow: -3px 0 0 #b5bfd9;
	}
	
	&:first-of-type {
		border-top: 1px solid #b5bfd9;
	}
	& > div {
		padding: 2em 2em 0;
		font-size: .875em;
	}
}

dl {
	display: flex;
	flex-wrap: wrap;
	dt {
		font-weight: 700;
	}
	div {
		margin-right: 4em;
		margin-bottom: 2em;
	}
}
</style>

<h2>Welkom @User.Identity?.Name op deze pagina!</h2>
<p>Op deze pagina kun je jouw persoonlijke doelen creëren en bijhouden, evenals je vervoersgebruik bijhouden.</p>
<p>Start door nieuwe doelen te creëren of je voortgang te beheren voor bestaande doelen. Daarnaast kun je je vervoersgegevens invoeren en beheren om inzicht te krijgen in je milieubijdrage.</p>
<p>Gebruik de beschikbare opties in het menu om aan de slag te gaan. Veel succes!</p>
<b>Lukt het niet om doelen aan te maken/ transport gebruik vastleggen? druk dan op <a asp-controller="Consumers" asp-action="Create">Deze link</a></b>
<br />
<br />
<br />
<br />
<!-- Doelen (Goals) -->
<h1>Persoonlijke doelen <img src="https://cdn.discordapp.com/attachments/1015233182209159201/1171509516702076948/image.png?ex=655cf042&is=654a7b42&hm=faebbc99e72bdf4e8cb3ec6aec0c46222df1081a040edde0b5d338ec8bcd83fc&" width="50" height="50"/></h1>
<p>
    <button type="button" class="btn btn-success" onclick="window.location.href='../Goals/create'">Maak nieuw doel <img src="https://cdn.discordapp.com/attachments/1015233182209159201/1171510673054908528/image.png?ex=655cf156&is=654a7c56&hm=1f5588f69cfbcd5690a361550ee1f6b21272db86cec6de812a62ac54c1a1fda0&" width="30" height="30" /></button>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.Goals)
        {
            @if (item.Consumer != null && item.Consumer.Name == User.Identity?.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Personalgoal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Impact) gram CO2 per kilometer
                    </td>
                    <!-- Voeg andere velden van Goals toe zoals Completed en Impact -->
                    <td>
                        Behaald: @Html.DisplayFor(modelItem => item.Completed) 
                    </td>
                    <td>
                        @if (!item.Completed)
                        {
                            <a asp-controller="Goals" asp-action="Edit" asp-route-id="@item.Id"><img src="https://cdn.discordapp.com/attachments/1164149724371230750/1171156686388613251/image.png?ex=655ba7a9&is=654932a9&hm=f98be0d0ac022761f4bc72860db64ec30d577caa73c2251534c4905153cccaaf&" width="50" height="50" /></a>

                        }
                        <a asp-controller="Goals" asp-action="Delete" asp-route-id="@item.Id"><img src="https://cdn.discordapp.com/attachments/1164149724371230750/1171157427912200242/image.png?ex=655ba859&is=65493359&hm=7746df8fd8e8d9148d84a928aead9207988f5714a481b9563225107f399cd5fa&" width="50" height="50" /></a>
                    </td>
@*                    <td>
                        <a asp-controller="Goals" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Goals" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Goals" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                </tr>
            }
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />



@*<h1>weekly report Index</h1>

<!-- Wekelijkse Rapporten -->
<p>
    <a asp-controller="Weekly_report" asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.WeeklyReports)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Weeknr)
                </td>
                <!-- Voeg andere velden van WeeklyReports toe zoals Transport_emission, Total, en Difference -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<h1>transportusages Index</h1>

<!-- Transportgebruik (TransportUsages) -->
<p>
    <a asp-controller="TransportUsages" asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.TransportUsages)
        {
            if (item.Consumer != null && item.Consumer.Name == User.Identity?.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <!-- Voeg andere velden van TransportUsages toe zoals Emmission_KM -->
                    <td>
                        <a asp-controller="TransportUsages" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="TransportUsages" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="TransportUsages" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>consumers Index</h1>

<!-- Consumenten (Consumers) -->
<p>
    <a asp-controller="Consumers" asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.Consumers)
        {
            if (item.Name == User.Identity?.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <!-- Voeg andere velden van Consumers toe zoals TransportUsageId, GoalId en SuggestionId -->
                    <td>
                        <a asp-controller="Consumers" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Consumers" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Consumers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@



<h1>Wekelijks rapport:</h1>
<form asp-controller="Voortgang" asp-action="Index" method="get">
    <p>
        Week: <input type="text" name="SearchString" />
        <input type="submit" value="Zoek week" />
    </p>
</form>
<button type="button" class="btn btn-success" onclick="window.location.href='../TransportUsages/create'">Maak nieuw doel <img src="https://cdn.discordapp.com/attachments/1015233182209159201/1171510673054908528/image.png?ex=655cf156&is=654a7c56&hm=1f5588f69cfbcd5690a361550ee1f6b21272db86cec6de812a62ac54c1a1fda0&" width="30" height="30" /></button>
<a asp-controller="Consumers" asp-action="Create">Create New</a>
<table class="table">
    <tbody>
        @foreach (var item in Model.TransportUsages)
        {
            foreach (var item2 in Model.WeeklyReports)
            {
                if (item.Weekly_reportId == item2.Id)
                {

                    <details>
                        <summary>
                            <div>
                                <h3>
                                    <strong>@Html.DisplayFor(modelItem => item.Transport_type) rit</strong>
                                </h3>
                                <span>Week @Html.DisplayFor(modelItem => item.Weekly_reportId)</span>
                            </div>
                        </summary>
                        <div>
                            <dl>
                                <div>
                                    
                                    <dt>Afstand</dt>
                                    <dd>@Html.DisplayFor(modelItem => item.Distance)</dd>
                                </div>
                                &nbsp &nbsp &nbsp
                                <div>
                                    <dt>Uitstoot per kilometer</dt>
                                    <dd>@Html.DisplayFor(modelItem => item.Emmission_KM)</dd>
                                </div>
                            </dl>
                        </div>
                    </details>
                }
            }
                
        }
    </tbody>
</table>




<script>
    function updateTable() {
        var weeknumberInput = document.getElementById('weeknumberInput');
        var weeknumber = parseInt(weeknumberInput.value);

        var table = document.getElementsByTagName('table')[0];
        var rows = table.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var cells = row.getElementsByTagName('td');
            var id = parseInt(cells[0].textContent);

            if (id == weeknumber) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        }
    }
</script>
