@model BioWiseV2.Models.TransportUsage

@{
    ViewData["Title"] = "Delete";
}

<h1>Vervoers gebruik verwijderen</h1>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <hr />
<h4>
    
        <p>Vervoersmiddel: @Html.DisplayFor(model => model.Transport_type)</p>
        <p>Afstand: @Html.DisplayFor(model => model.Distance) KM</p>
        <p>Uitstoot: @Html.DisplayFor(model => model.Emmission_KM) CO2 per KM</p>
        <p>Week nummer: @Html.DisplayFor(model => model.Weekly_reportId)</p>

    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emmission_KM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emmission_KM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weekly_report)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weekly_report.Id)
        </dd>
    </dl>*@
    </h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijder" class="btn btn-success" />
        <button type="button" class="btn btn-danger" onclick="window.location.href='../index'">Anuleer</button>
    </form>
</div>
