@model BioWiseV2.Models.Goal

@{
    ViewData["Title"] = "Delete";
}

<h1>Doel verwijderen</h1>

<h3>Weet u zeker dat u het doel wilt verwijderen?</h3>
<div>
    <h4>Goal</h4>
    <hr />
    <h4>
        <p>Doel: @Html.DisplayFor(modelItem => Model.Personalgoal)</p>
        <p>Uitstoot: @Html.DisplayFor(modelItem => Model.Impact) gram CO2 per kilometer</p>
    </h4>
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personalgoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personalgoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumer.Id)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-success" /> 
        <button type="button" class="btn btn-danger" onclick="window.location.href='https://localhost:7138/Voortgang'">Anuleer</button>

        
    </form>
</div>
