@model IEnumerable<BioWiseV2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@{
    string searchString = ViewData["SearchString"] as string;
}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .hidden {
        display: none;
    }

    .incardcontainer {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .custom-button {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 10px 40px; /* Pas de opvulling aan om de breedte van de knop te wijzigen */
        height: 60px; /* Voeg hoogte toe aan de knop */
        background-color: #28a745;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        flex-wrap: wrap;
        gap: 10px;
    }

        .custom-button:hover {
            background-color: #218838;
        }
</style>

<body>
    <img src="https://cdn.discordapp.com/attachments/1151428021341925472/1168502428694491247/image.png?ex=6551ffb0&is=653f8ab0&hm=a5fc1372794597f3328269153235a0583304ef434cb1c8b04420f438d5e3c74d&" style="width: 80%" class="center">
    <form asp-controller="Products" asp-action="Index" method="get" class="d-flex center">
        <button class="nav-link dropdown-toggle btn btn-white my-2 my-sm-0" style="color: grey; border-color:grey" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div style="color: grey; border-color:grey" class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class("dropdown-item" href="#">Something else here</a>
            <div class("dropdown-divider"></div>
            <a class("dropdown-item" href="#">Separated link</a>
        </div>
        <input id="SearchString" class="form-control me-sm-2" style="color: grey; border-color:grey;" type="text" name="SearchString" placeholder="Search" value="@searchString" width="300">
        <button id="searchbutton" class="btn btn-white my-2 my-sm-0" style="color: grey; border-color:grey" type="submit">
            <img src="https://cdn.discordapp.com/attachments/1151428021341925472/1168508538956558386/image.png?ex=65520561&is=653f9061&hm=6891e88cfcdb900309d121f678e1c690a44447b8cd5355f0271a8004f3d21ae2&" width="25" height="25" />
        </button>
    </form>
    
    <table class="table hidden">
@*        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CO2Emmision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WaterFootprint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EcologicalFootprint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image_link)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Suggestion_Id)
                </th>
                <th></th>
            </tr>
        </thead>*@
        
        <tbody>
            @foreach (var item in Model.Where(p => string.IsNullOrEmpty(searchString) || p.Name.Contains(searchString)))
            {
                <tr>
                    <td>
                        <div class="incardcontainer">
                        <img src="@Html.DisplayFor(modelItem => item.Image_link)" width="250" height="200">
                                <div>
                                <h2>
                                    <br />
                                    <br />
                                    
                                @Html.DisplayFor(modelItem => item.Name)
                                </h2>
                                </div>
                        </div>
                    </td>
                    <td>
                        <br />
                        <br />
                        <br />
                        <img src="@Html.DisplayFor(modelItem => item.QualityMark_link)" height="100" width="100" />
                    </td>
@*                    <td>
                        @Html.DisplayFor(modelItem => item.CO2Emmision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WaterFootprint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EcologicalFootprint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suggestion_Id)
                    </td>*@
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        <br />
                        <br />
                        <br />
                        <br />
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success link-button custom-button "><h4>Zie product</h4></a>
                    </td>
                </tr>




            }

        </tbody>
    </table>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchbutton").on("click", function (e) {
            e.preventDefault(); // Voorkom het standaardgedrag van het formulier
            var searchString = $("#SearchString").val().toLowerCase(); // Converteer de zoekterm naar kleine letters

            if (searchString) {
                // Als de zoekterm niet leeg is, toon de tabel en voer de zoekopdracht uit
                $(".table").removeClass("hidden");
                filterTable(searchString);
            }
        });

        function filterTable(searchString) {
            // Loop door de rijen van de tabel en toon/verberg op basis van de zoekterm
            $(".table tbody tr").each(function () {
                var row = $(this);
                var name = row.find("td:eq(0)").text().toLowerCase(); // Hier 0 aanpassen aan de juiste kolomindex

                if (name.includes(searchString)) {
                    row.show();
                } else {
                    row.hide();
                }
            });
        }
    });
</script>